{% extends "layout.html" %}

{% block title %}
    Miko Impact - Log In
{% endblock %}

{% block main %}
    <div class="center icon">
        <img src="{{ url_for('static', filename='icon.jpeg') }}" alt="Icon Image" style="width:200px; height:auto;" />
    </div>
    <form action="/login" method="post">
        <div class="login-fields">
            <div class="login-user mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="login-btn btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
{% endblock %}
